/* App.css */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenedor tenga el 100% de la altura de la ventana */
  padding: 0 16px; /* Espacio horizontal para pantallas pequeñas */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
}

